<% include ../partials/top %>

<div>
    <form>
        <div class="form-group row search-row">
            <div class="col-sm-12">
                <input value="<%= locals.query %>" name="q" class="form-control form-control-lg" type="text" id="searchInput" aria-describedby="emailHelp" placeholder="Search for : Rushmore, Adobe CC, Wes Anderson...">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <button type="submit" class="btn btn-primary btn" onclick="searchClickEvent()">Search</button>
            </div>
        </div>
    </form>
</div>
<main>
    <div class="text-xl-center text-dark" id="waiting-download-text"></div>
    <% if (locals.success) { %>
        <div class="text-xl-center text-dark"><br><br>Torrent downloaded successfully</div>
    <% } %>
    <% if (locals.err) { %>
        <div class="text-xl-center text-dark"><br><br>Error : <%= locals.err %></div>
    <% } %>
    <% if (locals.eTorrents) { %>
        <% if (eTorrents.length) { %>
            <ul class="list-group" style="margin-top:15px"></ul>
            <% eTorrents.forEach(function(eTorrent){ %>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-8 col-sm-6 col-12 text-truncate" title="<%=eTorrent.t.title%>"><%=eTorrent.t.title%></div>
                        <div class="col-lg-1 col-sm-2 col-3 text-truncate" title="<%=eTorrent.t.seeds%> seeds"><%=eTorrent.meta.speed%></div>
                        <div class="col-lg-1 col-sm-2 col-3 text-truncate"><%=eTorrent.t.size%></div>
                        <div class="col-lg-1 col-sm-1 col-3">
                            <button class="btn btn-dark btn-sm" onclick="window.open('<%=eTorrent.t.desc%>','_blank');">show</button>
                        </div>
                        <div class="col-lg-1 col-sm-1 col-3">
                            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal"
                                onclick="download('<%=eTorrent.b64%>')">download</button>
                        </div>
                    </div>
                </li>
            <% }); %>
            </ul>
        <% } else { %>
            <div class="text-xl-center text-dark" id="status-info"><br>No torrent found...</div>
        <% } %>
    <% } else { %>
        <div class="text-xl-center text-dark" id="status-info"><br>Waiting for a request...</div>
    <% } %>
</main>
</div>
<script>
    function searchClickEvent(){
        document.getElementById("waiting-download-text").innerHTML = "<br>Fetching the trackers...<br><br>";
        document.getElementById("status-info").innerHTML = "";
    }
    function download(b64){
        window.location = '/download?b64=' + b64;
    }
</script>

<% include ../partials/bot %>
